{% load static %}
<html lang="en">
  <head>
    <title>SKAPT Cable</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const clickableRows = document.querySelectorAll(".clickable-row");
        console.log(clickableRows);
        clickableRows.forEach((row) => {
          row.addEventListener("click", () => {
            const url = row.dataset.url;
            window.location.href = url;
          });
        });
      });
    </script>
    <style>
      .clickable-row {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="block">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
