<div class="block">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            {% for column in table.columns %}
                <td>{{ column }}</td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for row in table.rows %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>